---
import NavBar from "@includes/dynamic/NavBar";
import VerticalMenu from "@includes/dynamic/VerticalMenu";
import Banner from "@components/dynamic/Banner";
---

<!DOCTYPE html>
<html>
  <body>

    <NavBar />
    <Banner />
    <slot />
  </body>
</html>
