---
import Header from "@components/dynamic/Header";
import Meta from "@includes/static/Meta/Meta.astro";
---

<!DOCTYPE html>
<html>
  <Meta />
  <body>
    <Header />
    <slot />
  </body>
</html>
